$background-color: #ebebec;
$primary-color: #151d31;
$error-color: #ee1d1d;
$input-background-color: #e1f5e8;
$input-border-color: #b6b5b5;
$loader-border-color: #f3f3f3;
$modal-background-color: #e4dede;
$blur-effect: 3px;
$loader-primary-color: #007bff;
